


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header {
    background-color: blue;
    color: white;
    height: 90px;
    text-align: center;
    line-height: 90px; /* Establece la altura de línea igual a la altura del contenedor */
    display: flex; /* Utiliza flexbox para centrar verticalmente el texto */
    align-items: center; /* Centra verticalmente el texto */
}

.subheader {
    width: 50%; 
    height: auto;
    color: whitesmoke;
    text-align: center;
    /* display: flex; Utiliza flexbox para centrar verticalmente el texto */
    /* align-items: center; Centra verticalmente el texto */
}

.central{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.central_header{
    height: 90px;
}

.central_main{
    height: auto;
}

.ancla:hover {
    color: aqua;
}

.ancla:visited {
    text-decoration-line: none;
    text-decoration-style: none;
}

header div h1{
    display: inline;
    float: left;
}

header div a {
    color: aliceblue;
    float: right;
    margin-right: 2%;
}


#imagen{
    /* display: inline; */
    width: 100%;
    height: auto;
    border: solid 10px rgb(219, 217, 57);
    width: 50%; 
    float: left; 
    border-radius: 30%;
}

#principal {
    background-image: url("punk_city.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.inline {
    position: relative;
    top: 170px;
    display: flex;
    justify-content: flex-start; /*Justify content acomoda los elementos de una orientacion (no me acuerdo si era en X o Y) al principio del contenedor, al medio, o al final, que aplica en ambos sentidos */
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
    color: floralwhite;
    font-size: 160%;
    font-weight: bolder;
    margin-right: 5%;
    line-height: 40px; /* Establece la altura de línea igual a la altura del contenedor */
    display: flex; /* Utiliza flexbox para centrar verticalmente el texto */
    align-items: center; /* Centra verticalmente el texto */
}

main {
    height: 600px;
}

#central_footer{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

body {
    overflow-x: hidden;
}

.subtitulo3 {
    text-align: center;
}

footer {
    width: 100vw;
    background-color: darkcyan;
    height: 300px;
}







