* {
    margin: 0;
    padding: 0;
}

/*display none hace que algo desaparezca de la pantalla y pierda su posicion*/

.box {
    background-color: aquamarine;
    width: 120px;
    height: 120px;
    border: 50px solid red;
    padding: 2px;
    display: inline;
}

.caja1 {
    background-color: brown;
    margin-bottom: 30px;
    box-sizing: border-box; /*toma el borde de la caja como parte del witdh y el height. esta caja logra mantener la proporcion de 120x120 que se impuso en la clase caja*/
    
}

/*no suma los 30 y los 50 de los margenes de caja 1 y caja 2, simplemente toma el mayor*/
.caja2 {
    background-color: blue;
    margin-top: 50px;
    color: white;
    position: static;
}